.tourDateAnnouncement {
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-size: cover;
  width: 80%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
}

.tourDateAnnouncement h3 {
  font-size: 54px;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin: 5px;
}

.tourDateAnnouncement p {
  font-size: 42px;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin: 0;
}
